
<form >
    <div class="formp">
      <h1  class="text-center">iniciar secion</h1>
      <label class="email" for="form2Example1">Email</label>
    <input type="email" id="form2Example1" class="form-control" />
  <div class="form-outline mb-4">
      <label class="passoword" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" />
  </div>
    <div class="col d-flex justify-content-center">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    <div class="col">
    </div>
  <button type="button" class="">Acceder</button>
  <br>
  <div class="formulario">
  
   
  </div>
  
    </div>
    
    </form>